body{
  background-color: black;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.NavBarCustom{
  background-color: #A7C5EB;
}

.CarouselProperties{
  padding-top: 0;
  padding-bottom: 0%;
}

.carousel .slider-wrapper{
  height: 60vh;
}

.carousel .thumbs-wrapper{
  text-align: center;
}

.carousel .slide .legend{
  color: black;
}

.carouselDescription{
  font-size: 1rem;
  margin-left: 2vh;
  margin-right: 2vh;
  margin-top: 5vh;
}

.carouselTitle{
  margin-top: 5vh;
  font-size: 3rem;
}

.carouselImageButton{
  margin-top: 3vh;
}

.divBio{
  margin-top: 10vh;
  margin-left: 2vh;
  margin-right: 2vh;
}

.bioTitle{
  font-size: 3rem;
}

.footer{
  background-color: #A7C5EB;
  text-align: center;
  padding-top: 20px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 10vh;
  width: 100%;
}

.social-container{

}

@media screen and (max-width: 1000px){
  .carousel .slider-wrapper{
    height: 40vh;
  }

  .carouselImageButton{
    margin-top: 0vh;
  }
}

